<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random number</title>
</head>

<body>
    <h1>This is your random number <%= randNum %>
    </h1>
    <% if(randNum%2==0){ %>
        <h2>"That is an even no."</h2>
        <% } else{%>
            <h2>"That is an odd no."</h2>
            <%} %>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veritatis ex nihil reprehenderit,
                    inventore quas
                    facere, possimus atque ullam fuga consequuntur veniam fugiat debitis earum accusamus explicabo sint
                    fugit hic?
                    Minima consequatur temporibus quisquam doloribus illo, exercitationem beatae sed sit harum possimus
                    facilis
                    libero cum dolorem ratione ducimus aliquid vitae mollitia quia inventore? Sunt quam totam corporis
                    ab dolorum
                    aspernatur.
                    Reprehenderit, distinctio dolore! Quis temporibus ea, officiis sequi amet necessitatibus rerum
                    corrupti
                    reprehenderit magni similique officia dolorum omnis ducimus commodi assumenda praesentium
                    accusantium animi, hic
                    molestiae nam ipsam cupiditate quibusdam?</p>
</body>

</html>